{% extends "blog/base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <form class="row" method="post" enctype="multipart/form-data">
                <div class="card">
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                    <button type="submit" class="btn btn-lg btn-block btn-outline-success">
                        {% if object%}
                        Сохранить
                        {% else %}
                        Создать
                        {% endif %}
                    </button>
                    <a class="btn my-2 btn-lg btn-block btn-outline-primary" href = '{% url "blog:record_list" %}' role="button">Отменить</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}